<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hcc.mybatis.mapper.AccountMapper">

  <resultMap id="accountResultMap" type="account">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="money" column="money" />
    <result property="age" column="use_age" />
  </resultMap>

  <select id="selectAccount" resultType="Account">
    select id, name, money, use_age as useAge from student where id = #{id}
  </select>

  <select id="selectAccountList" resultMap="accountResultMap">
    select * from student where money > #{money}
  </select>

  <select id="selectAccountListByAll" resultMap="accountResultMap">
    select * from student order by ${orderBy} desc
  </select>

  <select id="selectAccountByName" resultMap="accountResultMap">
    select * from student where name = #{name}
  </select>

  <select id="countAll" resultType="Integer">
    select count(*) from student
  </select>

  <insert id="insertAccount">
    insert into student (name, money) values (#{account.name}, #{account.money})
  </insert>

  <insert id="insertAccountByMap">
    insert into student (name, money) values (#{map.name}, #{map.money})
  </insert>

  <insert id="insertAccountByParams">
    insert into student (name, money) values (#{name}, #{money})
  </insert>

  <update id="updateAccount">
    update student set money = #{account.money} where id = #{account.id}
  </update>

  <delete id="deleteAccount">
    delete from student where id = #{id}
  </delete>
</mapper>
