<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <properties resource="jdbc.properties"/>

<!--  <settings>-->
<!--    <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--  </settings>-->

  <typeAliases>
    <package name="com.hcc.mybatis"/>
<!--    <typeAlias type="com.hcc.mybatis.Account" alias="Account"/>-->
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
<!--    使用这个方式， 要求mapper.xml 和 mapper接口类所在的目录完全相同  -->
<!--    <package name="com.hcc.mybatis.mapper"/>-->

<!--    <mapper class="com.hcc.mybatis.mapper.AccountMapper"/>-->
    <mapper resource="com/hcc/mybatis/mapper/AccountMapper.xml"/>
  </mappers>

</configuration>
